*
{
    margin: 0px;
    padding: 0px;
}
/*720p landscape screen*/
@media screen and (max-width: 720px){
    nav{
        background-color: #A8B501;
    }
}
/*square tablets*/
@media screen and (max-width: 640px){
    nav{
        background-color: #A8B501;
    }
}
/*some tablet*/
@media screen and (max-width: 600px){
    nav{
        background-color: #A8B501;
    }
}
/*mobile*/
@media screen and (max-width: 480px){
    nav{
        background-color: #A8B501;
    }
}

#sitename{
    font-size: 30px;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
nav
{
    display: flex;
    justify-content: space-evenly;
    width: 99vw;
}
.navlinks
{
    font-size: 25px;
    text-decoration: none;
    padding: 1vw;
}
section
{
    display: flex;
    height: 85vh;
    justify-content: space-around;
    flex-wrap: wrap;
}
